.centralizandoTituloNav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0 ;
}
  
.navbar-nav .nav-item {
    flex: 1;
    text-align: center;
}

.tamanhoDiv1{
    background-color: #649edb;
    height: 760px;
    width: 700px;
}

.tamanhoDiv2{
    border: 5px solid #649edb;
    height: 300px;
    width: 380px;
}

.tamanhoDiv3{
    border: 5px solid #649edb;
    height: 300px;
    width: 380px;
    margin-top: 50px;
}

.formatarBotao{
    background-color: yellow;
    margin-left: 140px;
    margin-top: 30px;
    border-radius: 10px;
}

.corNavTitulo{
    background-color: #649edb;
}

.tamanhoDiv4{
    height: 400px;
    width: 1100px;
    background-color: white;
    margin-left: 3px;
}

.row {
    display: flex;
  }
  
  .col {
    flex: 1;
  }
  
  .tamanhoDiv5,
  .tamanhoDiv6,
  .tamanhoDiv7,
  .tamanhoDiv8 {
    width: 250px;
    height: 250px;
    background-color: white;
    margin-top: 50px;
  }

.formatarTitulo{
    margin-left: 200px;
}

.cor{
    background-color: #649edb;
}

.formatarBotaoEmbaixo{
    margin-left: 70px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: yellow;
}

.fonteTitulo{
    font-size: 30px;
}

.linha{
    border: none;
    border-top: 4px solid yellow;/
   
}